@use 'variables' as v;

.photo-container {
    height: v.$photo-container-height;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    background-color: pink;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}