@use "variables";

@font-face {
    font-family: "Proxima";
    src: url(../fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
@font-face {
    font-family: "Gills";
    src: url(../fonts/GillSans.ttf);
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px;

}

#app {
    max-width: variables.$content-width;
    margin: 0 auto;
    min-height: variables.$min-height;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}